@import './_mixins.scss';
@import './_variables.scss';
@import './_resets.scss';

#root {
  font-family: $Ff-primary;
}

.CardDetailsFillUp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 6rem;
}
.cardViewer {
  display: grid;
  gap: 2rem;
  &__background {
    position: absolute;
    z-index: -1;
  }
  &__cardFront {
    height: 245px;
    width: 447px;
    position: relative;
    margin-top: 11.6875rem;
    margin-left: 10.25rem;
    &-info {
      padding: 2rem 1.5rem 2rem 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'logo   logo   logo   logo '
        'number number number number '
        'name   name   name  cardDate';
    }
    &-img {
      position: absolute;
      z-index: -1;
    }
    &-logo {
      grid-area: logo;
      margin-bottom: 4rem;
    }
    &-number {
      color: $Neutral-White;
      font-family: $Ff-primary;
      font-weight: $Fw-bold;
      font-size: 1.75rem;
      letter-spacing: 0.24rem;
      grid-area: number;
    }
    &-name {
      color: $Neutral-White;
      font-family: $Ff-primary;
      font-weight: $Fw-bold;
      letter-spacing: 0.06rem;
      grid-area: name;
      margin-top: 1rem;
    }

    &-date {
      grid-area: cardDate;
      color: $Neutral-White;
      font-family: $Ff-primary;
      font-weight: $Fw-bold;
      margin-top: 1rem;
      font-size: 0.875rem;
      justify-self: center;
    }
  }
  &__cardBack {
    height: 245px;
    width: 447px;
    position: relative;
    margin-left: 16.125rem;
    margin-top: 2rem;
    &-img {
      position: absolute;
      z-index: -1;
    }
    &-number {
      position: absolute;
      top: 109px;
      right: 50px;
      color: $Neutral-White;
      font-family: $Ff-primary;
      font-weight: $Fw-bold;
    }
  }
}
.cardFormContainer {
  padding: 18rem 8rem 8rem 8rem;
}
.cardForm {
  display: grid;
  grid-template-columns: 1fr;
  &__cardCvc {
    border: 1px solid black;
  }
  & label {
    font-weight: $Fw-bold;
    margin-bottom: 0.4rem;
    margin-top: 2rem;
    font-size: 12px;
    letter-spacing: 2px;
  }
  & input {
    border: 1px solid $Neutral-Light-Grayish-Violet;
    border-radius: 8px;
    padding: 0.75rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:focus {
      border: 2px solid hsl(262, 34%, 33%);
      outline: none;
    }
  }
  &__errors {
    color: $Primary-Red;
    font-size: 0.75rem;
    font-weight: $Fw-bold;
  }
  &__groupNumbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    grid-template-areas:
      'dateLab dateLab cvcLab  .'
      'dateMM  dateYY   cvc   cvc'
      'errorYY errorMM errorCvc .';

    &-errorMM,
    &-errorYY,
    &-errorCvc {
      color: $Primary-Red;
      font-size: 0.75rem;
      font-weight: $Fw-bold;
    }
    &-errorMM {
      grid-area: errorMM;
    }
    &-errorYY {
      grid-area: errorYY;
    }
    &-errorCvc {
      grid-area: errorCvc;
      grid-column: span 2;
      margin-left: 0.5rem;
    }
  }
  &__expDateLab {
    grid-area: dateLab;
  }
  &__cardDateYY {
    grid-area: dateYY;
    max-width: 95px;
  }
  &__cardDateMM {
    grid-area: dateMM;
    max-width: 95px;
  }
  &__cardCvc {
    margin-left: 0.5rem;
    grid-area: cvc;
  }
  &__cardCvcLab {
    margin-left: 0.5rem;
    grid-area: cvcLab;
  }

  &__button {
    height: 53px;
    background-color: $Neutral-Very-Dark-Violet;
    border: none;
    border-radius: 8px;
    color: $Neutral-White;
    font-weight: $Fw-medium;
    cursor: pointer;
    margin-top: 2rem;
  }
}
@media (max-width: 650px) {
  .CardDetailsFillUp {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .cardViewer {
    &__cardFront {
      height: 157px;
      width: 286px;
      margin-top: 7.875rem;
      margin-left: 1rem;
      z-index: 1;
      &-info {
        padding: 1.25rem;
      }
      &-logo {
        width: 52px;
        height: 31px;
        margin-bottom: 1.5rem;
      }
      &-number {
        font-size: 18px;

        letter-spacing: 2px;
      }
      &-name {
        font-size: 0.625rem;
        font-weight: $Fw-bold;
      }
      &-date {
        font-size: 0.625rem;
      }
    }
    &__cardBack {
      height: 157px;
      width: 286px;
      margin-left: 4.5625em;
      margin-top: -18rem;
      z-index: -1;
      &-number {
        top: 70px;
        right: 30px;
        font-size: 0.625rem;
      }
    }
  }
  .cardFormContainer {
    padding: 1.5rem;
  }
}
.thankYou {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 17.4375rem;
  & p,
  h1,
  img {
    justify-self: center;
  }
  & img {
    margin-bottom: 2rem;
  }
  & h1 {
    margin-bottom: 1.5rem;
  }
  & p {
    margin-bottom: 3rem;
  }
  & button {
    height: 53px;
    background-color: $Neutral-Very-Dark-Violet;
    border: none;
    border-radius: 8px;
    color: $Neutral-White;
    font-weight: $Fw-medium;
    cursor: pointer;
  }
}
